<div style="float:right;"><%= link_to 'Show Cart', cart_path(@cart) %>
(<%= @cart.line_items.to_a.sum(&:quantity) %>)</div>
<h1>Your Pragmatic Catalog</h1>

<table>
  <% cache ['store', Product.latest] do %>
    <% @products.in_groups_of(4, false).each do |group| %>
      <tr class="product-grid">
          <% group.each do |product| %>
            <% cache ['item', product] do %>
              <td>
                <div class="product">
                <%=  if !product.gallery.photos.first.nil?
                  image_tag product.gallery.photos.first.photo.url(:small)
                end %>
                </div>
                <h5><%= link_to product.name, product_path(product) %></h5>
              </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  <% end %>
</table>