<footer class="footer">
  <small>
    ECommerce by Miguel Gervasi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
      <li><a href="http://sample.org/">GitHub</a></li>
    </ul>
  </nav>
</footer>
